.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* body{
  background-image: url(https://www.simplilearn.com/ice9/free_resources_article_thumb/Importance_of_Social_Media_in_Todays_World.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
  
} */
.CardGreet{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: aqua;
  height: 300px;
  width: 300px; 
}
/* .container{
  text-align: center;
  min-height: 100vh;
  margin-top: 150px;  
} */
/* .title{
  color: white;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
} */


