.containerLogin {
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    margin-top: 100px;

}

.memberlogin {
    width: 350px;
    height: 300px;
    align-items: center;
    justify-items: center;
}
.memberlogin input{
    border-radius: 25px;
}
.memberlogin Button{
    border-radius: 25px;
}

/* body{
    background: linear-gradient(to right, violet 49.9%, purple);
    background-size: contain;
} */