.mainContainer{
    background-color: rgb(255, 162, 0);
    background-size: cover;
    min-height: 100vh;
    display: grid;
    place-content: center;
}
.fruitContainer{
    background-color: white;
    height: 600px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    display: grid;  
}
.fruitContainerBody{
    display: grid;
    grid-template-columns: auto auto;
}
button{
    background-color: yellow;
}