.dateContainer{
    background-color: pink;
    background-size: cover;
    min-height: 100vh;
    display: grid;
    place-content: center;
}
.result{
    display: grid;
    background-color: wheat;
    
    justify-content: center;

}